NODE_ENV=development

MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=tu_password_aqui
MYSQL_DATABASE=campus_vault

JWT_SECRET=reemplazar_con_string_largo_y_aleatorio
JWT_EXPIRES_IN=15m